/* Importing Google fonts */
@import url()

/* Importing all components file */
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/menu.css");

/* General style rules for fonts and colours */
body {
	font-family: Helvetica;
	font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
font-family: Helvetica;
}
a {
text-decoration: none;
}
