.btn-pink {
	background-color: pink;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
  font-size: 18px;
	font-weight: bold;
	font-family: Helvetica;
}

.btn-pink:hover {
  background-color: black;
  color: white;
}
